body{

background:#f2f3f4;
font-family:Arial;
margin:0;

}

.contenedor{

max-width:900px;
margin:auto;
padding:40px;

}

h1{

color:#27ae60;
font-size:40px;
text-align:center;

}

h2{

color:#27ae60;
margin-top:50px;

}

.frase{

text-align:center;
font-style:italic;
color:#555;

}

.descripcion{

text-align:center;
color:#444;
max-width:700px;
margin:auto;

}

hr{

margin:40px 0;
border:1px solid #ddd;

}

input{

display:block;
margin:10px 0;
padding:10px;
width:250px;

}

button{

background:#27ae60;
color:white;
border:none;
padding:10px;
cursor:pointer;

}

.habitos{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;

}

.habito{

background:#2ecc71;
padding:15px;
border-radius:8px;
cursor:pointer;
color:black;
border:2px solid black;

}

.barraProgreso{

width:100%;
height:35px;
border:3px solid black;
background:white;

}

#progreso{

height:100%;
width:0%;
background:#2ecc71;

}

.rutina{

background:white;
padding:20px;
border-radius:10px;

}

.estadisticas{

background:white;
padding:20px;
border-radius:10px;

}

.chatBox{

background:white;
padding:20px;
border-radius:10px;

}

#chat{

height:200px;
overflow:auto;
margin-bottom:10px;

}